@use "./scss/" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.App {
  height: 100%;
}

.container {
  margin: 0 16.75rem;
}


body {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto; /* Center alignment */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  -moz-user-select: none !important;
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}