$font-family: 'Montserrat', sans-serif;
$font-secondary: 'Noto Sans KR', sans-serif;

$white: #ffffff;
$white-video: #fafafc;
$black: #222222;
$black-footer: #333333;
$gray: #676767;
$gray-footer: #717c89;
$orange: #fa5805;


